@model IEnumerable<Tours.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShowroomLayout.cshtml";
}

<h2>Danh sách các Tour du lịch</h2>

<div class="row">
    @foreach (var tour in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-12" style="background-color: beige; border-radius: 2%;">
            <div style="color: lightseagreen">
                <h4>@tour.Name</h4>
            </div>
            <div>
                <a href="@Url.Action("TourDetail", "Home", new {id = tour.Id})"><img class="img-responsive img-rounded" alt="Image" style="width: 350px;" src="@tour.Cover" /></a>
            </div>
            <div>
                Đơn giá: @tour.Price
            </div>
            <a href="@Url.Action("TourDetail", "Home", new {id = tour.Id})" class="btn btn-danger" role="button">Chi tiết</a>
            <a href="@Url.Action("Create", "Packages", new {id = tour.Id})" class="btn btn-danger" role="button">Đặt</a>
        </div>
    }
</div>
