@model Tours.Models.Tour
@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Shared/_ShowroomLayout.cshtml";
}

<h2>KQTimKiem</h2>

<div class="col-md-3 col-sm-6 col-xs-12" style="background-color: blanchedalmond; border-radius: 2%;">
    <div style="color: lightseagreen">
        <h4>@Model.Name</h4>
    </div>
    <div>
        <a href="@Url.Action("TourDetail", "Home", new {id = Model.Id})"><img class="img-responsive img-rounded" alt="Image" style="width: 350px; height: 400px" src="@Model.Cover" /></a>
    </div>
    <div>
        Đơn giá: @Model.Price
    </div>
    <a href="@Url.Action("TourDetail", "Home", new {id = Model.Id})" class="btn btn-danger" role="button">Chi tiết</a>
    <a href="@Url.Action("Create", "Packages", new {id = Model.Id})" class="btn btn-danger" role="button">Đặt</a>
</div>